<h1>Listing groups</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Name</th>
      <th>Location</th>
      <th>Event time</th>
      <th>Status</th>
      <th>Is complete</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.nickname %></td>
        <td><%= group.name %></td>
        <td><%= group.location %></td>
        <td><%= group.event_time %></td>
        <td><%= group.status %></td>
        <td><%= group.is_complete %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
